<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    body {
      background-color: rgb(244, 241, 241);
    }
    .navbar-heading {
      padding-top: 4rem;
      padding-left: 3rem;

      border-bottom: 1px solid gray;
      text-transform: capitalize;
      padding-bottom: 1rem;
      text-align: center;
    }
    .navbar-heading h2 {
      font-size: 2.1rem;
      color: brown;
    }
    .add_new {
      padding: 20px 8rem;
      font-size: 1.1rem;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .add_new .btn {
      cursor: pointer;
      padding: 8px 15px;
      font-size: 17px;
      background-color: rgba(36, 94, 176, 0.869);
      border: white;
      border-radius: 11px;
      color: white;
      margin-right: 1rem;
    }
    .add_new .btn:hover{
      background-color: rgba(16, 56, 112, 0.869);
    }
    .add_new a {
      color: white;
      text-decoration: none;
    }
    .llist_notes ul {
      padding-top: 3rem;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      list-style: none;
    }
    .llist_notes ul li {
      background-color: rgba(208, 207, 207, 0.916);
      width: 400px;
      height: 250px;
      border-radius: 9px;
      /* padding: 0rem 8rem; */
    }
    .llist_notes ul li .each-li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.1rem;
      height: 100%;
    }
    .llist_notes ul li .each-li .note-desc {
      height: 100%;
      overflow: hidden;
    }
    .llist_notes ul li .each-li .note-desc .note-action {
      display: flex;
      justify-content: space-between;
      padding-right: .4rem;
      border-bottom: 1px solid rgb(162, 162, 162);
    }
    .llist_notes ul li .each-li .note-desc .note-action h3 {
      height: 18%;
      padding: 0.7rem;
      font-size: 22px;
      font-weight: 400;
      overflow: hidden;
    }
    .llist_notes ul li .each-li .note-desc .note-action div{
      display: flex;
      gap: .5rem;
      align-items: center;
    }

    .llist_notes ul li .each-li .note-desc p {
      height: 72%;
      padding: 0.4rem 0.9rem;
      font-size: 15px;
      overflow: hidden;
      /* overflow: -moz-hidden-unscrollable; */
      text-overflow: ellipsis;
    }
    /* .llist_notes ul li .each-li .note-action{
      /* height: 30%; */
    /* } */
    
    .llist_notes ul li .each-li .note-action button{
      
      cursor: pointer;
      border: none;
      background: transparent;
      height: 22px;
      width: 22px;
      color: rgb(98, 93, 93);
    }
    .llist_notes ul li .each-li .note-action button a{
      color: rgb(98, 93, 93);
    }
    .llist_notes ul li .each-li .note-action button:hover{
      box-shadow: 0px 0px 20px rgb(98, 93, 93);
      
    }
    
  </style>
  <body>
    <div class="navbar-heading">
      <p>Ready to start taking notes?</p>
      <h2>Manage your notes here</h2>
    </div>
    <div class="add_new">
      <p>Hey, <%= user_email %></p>
      <div>
        <button class="btn">
          <a href="notes/create"> Add new Note </a>
        </button>
        <button class="btn" id="logout">Log Out</button>
      </div>
    </div>

    <div class="llist_notes">
      <ul>
        <% notes.forEach(function(note) { %>
        <li id="<%= note._id %>" class="note-detail">
          <div class="each-li">
            <div class="note-desc">
              <div class="note-action">
                <h3><%= note.title %></h3>
                <div>
                  <button> <a href="notes/<%= note._id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M1.18164 12C2.12215 6.87976 6.60812 3 12.0003 3C17.3924 3 21.8784 6.87976 22.8189 12C21.8784 17.1202 17.3924 21 12.0003 21C6.60812 21 2.12215 17.1202 1.18164 12ZM12.0003 17C14.7617 17 17.0003 14.7614 17.0003 12C17.0003 9.23858 14.7617 7 12.0003 7C9.23884 7 7.00026 9.23858 7.00026 12C7.00026 14.7614 9.23884 17 12.0003 17ZM12.0003 15C10.3434 15 9.00026 13.6569 9.00026 12C9.00026 10.3431 10.3434 9 12.0003 9C13.6571 9 15.0003 10.3431 15.0003 12C15.0003 13.6569 13.6571 15 12.0003 15Z"></path></svg></a></button>
                  <button><a href="notes/edit/<%= note._id %>" class="edit-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.7574 2.99677L14.7574 4.99677H5V18.9968H19V9.23941L21 7.23941V19.9968C21 20.5491 20.5523 20.9968 20 20.9968H4C3.44772 20.9968 3 20.5491 3 19.9968V3.99677C3 3.44448 3.44772 2.99677 4 2.99677H16.7574ZM20.4853 2.09727L21.8995 3.51149L12.7071 12.7039L11.2954 12.7063L11.2929 11.2897L20.4853 2.09727Z"></path></svg></a></button>
                  <form class="delete-form" data-id="<%= note._id %>">
                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg></button>
                  </form>
                </div>
              </div>

              <p><%= note.content %></p>
            </div>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
   
    <script>
      
      document.querySelectorAll(".delete-form").forEach((form) => {
        form.addEventListener("submit", function (event) {
          event.preventDefault();

          const noteId = this.getAttribute("data-id");
          const url = `/api/v1/notes/${noteId}`;

          if(!confirm("Are you sure want to delete the note?")){
            return ;
          }

          fetch(url, {
            method: "DELETE",
          })
            .then((response) => {
              if (response.ok) {
                // Remove the note from the DOM
                document.getElementById(noteId).remove();
              } else {
                alert("Failed to delete the note");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to delete the note");
            });
        });
      });
      document.getElementById("logout").addEventListener("click", () => {
        fetch(`/api/v1/auth/logout`).then((res) => {
          if (res.ok) {
            window.location.href = "/";
          }
        });
      });
    </script>
  </body>
</html>
